In [7]:
import seaborn as sns 
import pandas as pd

In [8]:
data=sns.load_dataset('tips')

In [9]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [10]:
from sklearn.preprocessing import LabelEncoder
sex = LabelEncoder()
smoker=LabelEncoder()
day=LabelEncoder()
time=LabelEncoder()

In [11]:
data['sex']=sex.fit_transform(data['sex'])
data['smoker']=smoker.fit_transform(data['smoker'])
data['day']=day.fit_transform(data['day'])
data['time']=time.fit_transform(data['time'])

In [12]:
data

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    2     0     2
1         10.34  1.66    1       0    2     0     3
2         21.01  3.50    1       0    2     0     3
3         23.68  3.31    1       0    2     0     2
4         24.59  3.61    0       0    2     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    1     0     3
240       27.18  2.00    0       1    1     0     2
241       22.67  2.00    1       1    1     0     2
242       17.82  1.75    1       0    1     0     2
243       18.78  3.00    0       0    3     0     2

[244 rows x 7 columns]

In [13]:
data.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [14]:
data

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    2     0     2
1         10.34  1.66    1       0    2     0     3
2         21.01  3.50    1       0    2     0     3
3         23.68  3.31    1       0    2     0     2
4         24.59  3.61    0       0    2     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    1     0     3
240       27.18  2.00    0       1    1     0     2
241       22.67  2.00    1       1    1     0     2
242       17.82  1.75    1       0    1     0     2
243       18.78  3.00    0       0    3     0     2

[244 rows x 7 columns]

In [18]:
data['day'].value_counts()

1    87
2    76
3    62
0    19
Name: day, dtype: int64

In [20]:
x=data.drop('tip',axis=1)
y=data['tip']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [25]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [26]:
pred=model.predict(x_test)

In [28]:
pred

array([3.204 , 1.8448, 3.6806, 3.2511, 1.946 , 3.2643, 4.1655, 1.8257,
       2.448 , 2.7424, 3.4615, 2.1071, 1.8345, 2.4272, 1.6978, 3.0119,
       3.1334, 3.8034, 2.9398, 6.4303, 3.0603, 3.2735, 2.5321, 2.1556,
       3.5227, 2.2636, 2.1522, 3.4576, 3.178 , 7.4098, 5.6001, 1.7845,
       3.1269, 3.7113, 2.0106, 3.7746, 1.9558, 4.1421, 1.8723, 3.7691,
       2.0746, 2.2344, 3.6221, 2.105 , 2.0133, 1.6313, 2.014 , 2.915 ,
       1.7885, 2.0554, 3.7716, 3.0233, 5.2896, 2.1418, 2.5344, 1.9688,
       2.0282, 3.4795, 2.8037, 2.1619, 4.723 , 2.5688, 4.1583, 3.4035,
       3.1844, 2.9954, 2.2358, 1.9105, 3.4166, 3.7761, 3.2927, 4.15  ,
       3.0438, 2.8767, 1.8987, 3.0494, 3.7741, 4.1361, 3.5086, 5.2544,
       1.5546])

In [38]:
model.predict([x_test.iloc[1]])

array([1.8448])

In [37]:
y_test.iloc[1]

2.0